<% has_time_offset = session[:time_zone_offset].present? %>

<div id="raga-suggestion" <%= "data-needs-load" unless has_time_offset %>>
  <p class="suggestion">
    <% if has_time_offset %>
      <%= "It's #{pretty_clock} o clock." %>
      <%= raga_suggestion %>
      <%= "Or #{link_to("filter all ragas", ragas_path(filter: {time: time_to_prahar}), id: "suggestion-time-filter-link", data: {time: time_to_prahar})} suitable for this time.".html_safe %>
    <% end %>
  </p>
</div>
