/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* === General Layout === */

html { height: 100%; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #222;
  background: #1a1f00;
  background-image: url(/assets/parsley-middle.png), url(/assets/parsley-background.png);
  background-position: center, left;
  background-repeat: repeat-y, repeat;
  padding: 30px 0;
}

a { color: #000; font-weight: bold; text-decoration: none; }

h1 {
  font-family: "Tenor Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 0.5em;
}

h1 a, h1 a:hover {
  font-weight: normal;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 20px 0;
  padding-bottom: 0;
  font-family: "Tenor Sans", Helvetica;
  text-align: center;
}

p { margin-bottom: 1.5em; line-height: 1.5em }

label { font-weight: bold; }

strong { font-weight: bold; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* === Wrapper === */

#site {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  background: white;
  padding: 30px 55px;
  border-radius: 15px;
}

.swirl { display: block; margin: 0 auto 1.5em auto; height: 18px; width: 46px; }

/* === Ragas === */

p.suggestion { margin: 0px 0; }

.filter { display: none; }

#ragas {
  width: 100%;
  tr.even { background: #EEE; }
  td, th { padding: 6px 10px; height: 24px; vertical-align: middle }
  th.title { width: 190px; }
  th.time { width: 60px; }
  th.thaat { width: 60px; }
  th img { display: none; margin: 4px 0 0 5px; float: left; }
  th.sorting-desc img, th.sorting-asc img { display: block; }
  th.sorting-desc img {
    transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    filter: flipv;
  }
  td.title { font-size: 14px }
  td.chakra {
    font-size: 14px;
    img { width: 44px; }
  }
  td.time { font-size: 12px }
  td.thaat { font-size: 12px }
}

th { text-align: left; padding-bottom: 5px; font-weight: normal; }

th[data-sort]{ cursor:pointer; }

/* === Raga === */

.claviature { margin-bottom: 1.5em }

.clip-wrapper {
  float: left;
  width: 250px;
  height: 202px;
  margin-bottom: 1.5em;
}

.clip-wrapper:nth-child(odd) {
  margin-right: 20px;
}

.clip-wrapper iframe { width: 100%; height: 100%; }

#clip_url { width: 280px; margin: 0 1em; padding: 3px }

.chakra-image { margin-bottom: 1.5em }

/* === Flash Messages === */

div.flash_message {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  padding: 5px;
}

div.flash_message#notice {
  background: #d0efc0;
  border-color: #6abf3d;
}

div.flash_message#error {
  background: #e5b8b8;
  border-color: #b74343;
}

.inline-errors { color: red; }

/* === Hax === */

.clear { clear:both; }

.left { float: left; }
